<p id="notice"><%= notice %></p>

<body style="background-color:powderblue;">

<h1> Code Tenderloin Database </h1>

<%= image_tag("logo.png", :size => "200x112" ) %>

<table>
<tbody>
<tr>
<td>
</td>
<td>   
</td>

</tr>
</tbody>
</table>



<table>
<tbody>
<tr>
<td><h2>Opportunities</h2>
</td>
<td>  <%= link_to '<button type="button">Jobs</button>'.html_safe, jobs_path %>
</td>



</tr>
</tbody>
</table>



<table border ="1px" style="background-color:#4fb0ae;">
  <thead>
    <tr>
      <th>Company</th>
      <th>Description</th>
      <th>Link</th>


      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.link %></td>


        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button">New Post</button>'.html_safe, new_post_path %>


</body>